// Breakpoints
@xs: 480px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1356px;
@xxl: 1600px;
@mw-xs: ~'(max-width: @{xs})';
@mw-sm: ~'(max-width: @{sm})';
@mw-md: ~'(max-width: @{md})';
@mw-lg: ~'(max-width: @{lg})';
@mw-xl: ~'(max-width: @{xl})';
@mw-xxl: ~'(max-width: @{xxl})';

// Height
@h-titlebar: 3rem;

// Colors
// Dark
@color-primary: #e2b714;
@color-bg: #323437;
@color-sub: #646669;
@color-text: #d1d0c5;

// Light
// @color-primary: #d8ab0a;
// @color-bg: #ffffff;
// @color-sub: #cecece;
// @color-text: #505050;

@color-red: #e90a0a;
@color-danger: darken(@color-red, 10%);

:export {
	@bg: @color-bg;
}
