@import (css) url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import '~variables';

html {
	font-family: 'Roboto Mono';
}

div {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: @color-bg;
}

&::-webkit-scrollbar {
	display: unset;
	cursor: pointer;
	width: 0.25rem;
	height: 0.25rem;
	&-track {
		background: transparent;
	}
	&-thumb {
		border-radius: 0.25rem;
		background-color: #cecece;
		&:hover {
			background-color: #bebebe;
		}
	}
}
